doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css', type='text/css')
		link(rel='stylesheet', href='/fontawesome/css/font-awesome.css', type='text/css')
	body
		div.container.bs-docs-container
			h1.page-header
				span.fa.fa-globe
				span Hello, world!
			p.lead
				span Name : 
				span= text
				img(src="/images/paperplane.svg") 
			img.img-circle(src="/images/avartar.jpeg",width=200) 
			